body {
  margin: 0;
  background-color: maroon;
  text-align: center;

  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;

  margin-top: 50px;
  margin-bottom: 0;
  font-size: 4.3rem;
  color: #66bfbf;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 20px;
  color: #66bfbf;
  font-weight: bold;
  line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: maroon;
}

p {
  color: black;
  line-height: 2;
}

a {
  color: teal;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  margin: 15px;
}
a:hover {
  color: white;
}

hr {
  border-style: dotted;
  color: dimgray;
  border-width: 7px 0 0 0;
  width: 5%;
}

.btn {
   background: #20ADCD;
   background-image: -webkit-linear-gradient(top, #20ADCD, #06847A);
   background-image: -moz-linear-gradient(top, #20ADCD, #06847A);
   background-image: -ms-linear-gradient(top, #20ADCD, #06847A);
   background-image: -o-linear-gradient(top, #20ADCD, #06847A);
   background-image: -webkit-gradient(to bottom, #20ADCD, #06847A);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   font-weight: 500;
   padding: 15px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.top {
  background-color: cornflowerblue;
  margin: 0;
  position: relative;
  padding-top: 30px;
  padding-bottom: 0;

}

.topcloud {
  position: absolute;
  right: 300px;
  padding-top: 30px;

}

.botmcloud {
  position: absolute;
  left: 300px;
  margin-top: 35px;

}

.banner {
  margin: 100px 50px 30px;
}
.boardgame {
  color: darkgreen;
  text-decoration: underline;
}
.mtn {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  bottom: -5px;
}



.mid {
  background-color: seagreen;
  padding: 100px 0 100px;
}

.profile {
  display: inline-block;
  width: 60%;
}

.profile_pic {
  width: 30%;
}

.skills {
  padding-top: 50px;
}

.skill_img1 {
  width: 45%;
  float: left;
  margin: 30px 30px 30px 0;
  padding-top: 20px;
}

.skill_img2 {
  width: 45%;
  float: right;
  margin: 30px 0 30px 30px;
}

.skill-row {
  display: inline-block;
  width: 55%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 1.5;
}

.unwrappedtext {
  clear: left;
  color: darkblue;
}

.wrappedtext {
  color: darkblue;
}

.contact-me {
  display: inline-block;
  padding-top: 50px;
  width: 60%;
}

.bottom {
  background-color: peru;
  padding: 60px 0 60px;
}

.copyright1 {
  font-size: 75%;
  font-weight: bold;
  padding-top: 30px;
}
